@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: "Vilsuve";
    font-weight: 400;
    src: url(/fonts/Vilsuve-Regular.ttf);
}
@font-face {
    font-family: "Meta";
    font-weight: 700;
    src: url(/fonts/Meta.ttf);
}
@font-face {
    font-family: "Helvetica-Bold";
    font-weight: 700;
    src: url(/fonts/helvetica-bold.ttf);
}
@font-face {
    font-family: "Helvetica-Neue-Bold";
    font-weight: 700;
    src: url(/fonts/HelveticaNeueBold.ttf);
}
@font-face {
    font-family: "Helvetica-Light";
    font-weight: 700;
    src: url(/fonts/helvetica-light.ttf);
}
@font-face {
    font-family: 'Helvetica Now Text';
    src: url(/fonts/Helvetica-300.woff) format("woff");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'Helvetica Now Text';
    src: url(/fonts/Helvetica-300-Italic.woff) format("woff");
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: 'Helvetica Now Text';
    src: url(/fonts/Helvetica-400.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Helvetica Now Text';
    src: url(/fonts/Helvetica-400-Italic.woff) format("woff");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: 'Helvetica Now Text';
    src: url(/fonts/Helvetica-700.woff) format("woff");
    font-weight: 700;
    font-style: normal
}
@font-face {
    font-family: 'Georgia';
    src: url(/fonts/georgia.woff) format("woff");
    font-weight: 400;
    font-style: normal
}




::-webkit-scrollbar {
    width: 10px;
    transition: 200ms ease-in-out;
}

::-webkit-scrollbar-track {
    width: 10px;
    border-radius: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background: #01603a;
    border-radius: 10px;

}